.hero-section{
    background:url(../../imagens/banners/hero.jpg) no-repeat center;
    background-size: cover;
    height: 500px;
    position: relative;
}

.hero-overlay{
width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: flex-end;
padding: 0.6rem;

}

.hero-content{
    color: #fff;
    max-width: 360px;
    text-align: center;
    margin-right: 100px;
}

.hero-content h2{
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    margin: 0 0 0.5rem;
}

.hero-content span{
    font-size: 1.25rem;
}

.hero-buttons{
    display: flex;
    gap: 16px;
}


.hero-content .hero-title{
    font-size: 1.87rem;
    margin-bottom: 40px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 3px;
}


.hero-content .hero-subtitle{
    font-size: 1.25rem;
    font-weight: 400;
}

.btn{
    font-size: 1.25rem;
    width: 161px;
    height: 48px;
    border-radius: 25px;
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    padding: 10px 20px;
    transition: background-color 0.3s, border 0.3s;
}

.btn-outline{
border: 2px solid #ffffff;
background-color: transparent;
line-height: 23px;
}

.btn-filled{
    background-color: #ffffff;
    color: #6329A2 ;
}

.btn:hover{
    background-color: #6329A2;
    color: #ffffff;
    border: #6329A2;
}