.card{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 20px;
}

.highlight{
    grid-area: highlight;
    background-image: url(../../assets/img/products/modelo_masc_menor.jpg);

}

.sneakers-purple{
    grid-area: sneakers-purple;
    background-image: url(../../assets/img/products/tênis_roxo_verde.jpg);
}

.modeL{
    grid-area: modeL;
    background-image: url(../../assets/img/products/modelo-feminino.jpg);
}
.sneakers-color{
    grid-area: sneakers-color;
    background-image: url(../../assets/img/products/futurista-colorido.jpg); 
}
.sneakers-white{
    grid-area: sneakers-white; 
    background-image: url(../img/products/tênis_preto_azul.jpg);
}
.sneakers-silver{
    grid-area: sneakers-silver; 
    background-image: url(../img/products/futurista.jpg);
}

.grid-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 300px );
    grid-template-areas:
        "highlight highlight sneakers-purple sneakers-purple"
        "highlight highlight modeL sneakers-color"
        "sneakers-white sneakers-white modeL sneakers-silver";
    gap: 30px;
    
}

.top1-content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.card-title{
    font-size: 1.25rem;
    font-weight: 400;
    color: #EDEDED;
    margin-bottom: 10px;
}

.card-subtitle{
    font-size: 1.5rem;
    font-weight: 400;
    color: #EDEDED;
    margin-bottom: 20px;
}

.cta-grup{
display: flex;
gap: 10px;
}